<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Agenda Médica</title>
</head>
<body>

    <h2>Criar Conta</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" action="" novalidate>

        {{ form.hidden_tag() }}

        <div>
            {{ form.nome.label }}<br>
            {{ form.nome(placeholder="Seu nome completo") }}
            {% for error in form.nome.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div>
            {{ form.data_nascimento.label }}<br>
            {{ form.data_nascimento(type="date") }}
            {% for error in form.data_nascimento.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div>
            {{ form.email.label }}<br>
            {{ form.email(placeholder="exemplo@email.com") }}
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div>
            {{ form.cpf.label }}<br>
            {{ form.cpf(placeholder="Apenas números") }}
            {% for error in form.cpf.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div>
            {{ form.senha.label }}<br>
            {{ form.senha() }}
            {% for error in form.senha.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div>
            {{ form.confirmar_senha.label }}<br>
            {{ form.confirmar_senha() }}
            {% for error in form.confirmar_senha.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div>
            {{ form.convenio.label }}<br>
            {{ form.convenio() }}
            {% for error in form.convenio.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <br>

        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>

    <p>Já tem conta? <a href="{{ url_for('login') }}">Faça login</a></p>

</body>
</html>
